In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("../datasets/loan_train.txt")

In [10]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [20]:
X_cols = data.columns[1:-1]
y_cols= data.columns[-1]

In [13]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [15]:
catCol=['Gender','Married','Education','Self_Employed','Property_Area','Dependents']
numWithScalingCol=['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']
numerCol=['Credit_History']

In [16]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn import ensemble

In [3]:
numeric_transformer_scaling = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value=99))])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])


preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer_scaling, numWithScalingCol),
        ('num2', numeric_transformer, numerCol),
        ('cat', categorical_transformer, catCol)])

NameError: name 'Pipeline' is not defined

In [18]:
modelPipeline = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', ensemble.RandomForestClassifier())])

In [21]:
modelPipeline.fit(data[X_cols],data[y_cols])

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['ApplicantIncome',
                                                   'CoapplicantIncome',
                                                   'LoanAmount',
                                                   'Loan_Amount_Term']),
                                                 ('num2',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(fill_value=99,
                                                                                 strategy='constant'))]),
                                                  ['Credit_History']),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(fill_value='missing',
                                                                                 strategy='constant')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['Gender', 'Married',
                                                   'Education', 'Self_Employed',
                                                   'Property_Area',
                                                   'Dependents'])])),
                ('classifier', RandomForestClassifier())])

In [23]:
scores=modelPipeline.predict_proba(data[X_cols])[:,-1]
scores

array([0.99, 0.27, 0.94, 0.94, 1.  , 0.84, 0.92, 0.07, 0.98, 0.25, 0.93,
       0.93, 0.91, 0.24, 0.89, 0.99, 0.93, 0.02, 0.29, 0.98, 0.02, 0.95,
       0.09, 0.09, 0.26, 0.97, 0.99, 0.95, 0.3 , 0.91, 0.28, 0.21, 0.29,
       1.  , 0.24, 0.98, 0.09, 0.99, 0.8 , 0.98, 0.25, 0.88, 0.91, 0.99,
       0.84, 0.96, 0.92, 0.98, 0.07, 0.95, 0.99, 0.97, 0.31, 0.31, 0.12,
       1.  , 0.98, 0.38, 0.97, 0.96, 0.99, 0.93, 0.1 , 0.05, 0.03, 0.37,
       0.09, 0.91, 0.8 , 0.06, 0.9 , 0.97, 0.83, 0.11, 0.96, 0.16, 0.41,
       0.22, 0.06, 0.9 , 0.93, 0.98, 0.24, 0.24, 0.87, 0.99, 0.99, 0.99,
       0.84, 0.97, 0.99, 0.87, 0.93, 0.9 , 0.86, 0.34, 1.  , 0.96, 0.95,
       0.94, 0.88, 0.95, 0.89, 0.99, 0.96, 0.97, 0.96, 0.31, 0.15, 0.89,
       0.99, 0.95, 0.03, 0.92, 0.92, 0.94, 1.  , 0.96, 0.31, 0.75, 0.86,
       0.97, 0.75, 1.  , 0.84, 0.93, 0.8 , 0.97, 0.08, 0.27, 0.69, 0.8 ,
       0.95, 0.94, 0.97, 0.2 , 0.26, 0.92, 0.11, 0.27, 0.28, 0.94, 0.89,
       0.99, 0.98, 0.96, 0.87, 0.9 , 0.22, 1.  , 0.04, 0.98, 0.31, 0.26,
       0.94, 0.73, 0.88, 0.97, 0.87, 0.87, 0.98, 0.27, 0.08, 0.85, 0.92,
       0.83, 0.25, 0.97, 0.03, 0.99, 0.93, 0.86, 0.22, 0.94, 0.37, 0.92,
       0.88, 0.13, 0.99, 0.03, 0.08, 0.26, 0.95, 0.25, 0.98, 0.9 , 0.04,
       0.89, 0.79, 0.93, 0.82, 0.28, 0.4 , 0.97, 0.97, 0.35, 0.8 , 0.93,
       0.98, 0.24, 0.98, 0.67, 0.24, 0.95, 1.  , 0.94, 0.97, 0.93, 0.9 ,
       0.38, 0.35, 0.07, 0.86, 0.84, 0.96, 0.89, 0.38, 0.99, 0.09, 0.97,
       0.09, 0.98, 0.98, 0.91, 0.93, 0.31, 0.31, 1.  , 0.9 , 0.9 , 0.96,
       0.86, 0.96, 0.85, 0.97, 0.79, 0.29, 0.93, 0.88, 0.99, 0.92, 0.35,
       0.87, 0.91, 0.9 , 0.24, 0.93, 0.87, 0.94, 0.99, 0.04, 0.28, 0.97,
       0.74, 0.02, 0.82, 0.08, 0.33, 0.22, 0.36, 0.94, 0.95, 0.19, 0.9 ,
       0.98, 0.96, 0.98, 0.7 , 0.28, 0.89, 0.97, 0.95, 0.94, 0.98, 1.  ,
       0.97, 0.96, 0.97, 0.91, 0.87, 0.13, 0.99, 0.95, 0.91, 0.28, 0.91,
       0.22, 0.95, 0.94, 0.87, 0.91, 0.09, 0.86, 0.12, 0.94, 0.91, 0.96,
       0.81, 0.22, 0.29, 0.07, 0.93, 0.95, 0.92, 0.96, 0.26, 0.9 , 0.06,
       0.15, 0.83, 1.  , 0.99, 0.87, 0.88, 0.28, 0.9 , 1.  , 0.99, 0.86,
       0.35, 0.98, 0.91, 0.78, 0.97, 0.9 , 0.09, 0.65, 0.95, 0.2 , 0.94,
       0.88, 0.94, 0.83, 0.81, 0.9 , 0.95, 0.89, 0.89, 0.12, 0.94, 0.24,
       0.26, 0.86, 0.84, 0.98, 0.94, 0.06, 0.97, 0.75, 0.93, 0.96, 0.16,
       0.98, 0.  , 0.99, 0.92, 0.96, 0.43, 0.03, 0.87, 0.36, 0.99, 0.86,
       0.95, 0.91, 0.36, 0.24, 0.15, 0.95, 0.16, 0.92, 0.99, 0.97, 0.05,
       0.92, 0.94, 0.94, 0.92, 0.13, 0.92, 0.97, 0.83, 0.93, 0.84, 0.35,
       0.86, 0.98, 0.04, 0.98, 0.95, 0.93, 0.92, 0.99, 0.91, 0.91, 0.96,
       0.04, 0.98, 0.95, 0.19, 0.16, 0.27, 0.86, 0.95, 0.28, 0.81, 0.97,
       0.74, 0.17, 0.16, 0.22, 0.78, 0.06, 0.96, 0.09, 0.98, 0.3 , 0.27,
       0.88, 0.99, 0.94, 0.07, 0.94, 0.1 , 0.94, 0.97, 0.13, 0.98, 0.94,
       0.83, 0.91, 0.02, 0.87, 1.  , 0.79, 0.89, 0.97, 0.97, 0.02, 0.83,
       0.91, 0.87, 0.84, 0.77, 0.85, 0.79, 0.75, 0.3 , 0.03, 0.29, 0.06,
       0.93, 0.09, 0.7 , 0.96, 1.  , 0.91, 0.25, 0.96, 0.39, 0.9 , 0.92,
       0.92, 0.85, 0.06, 0.96, 0.1 , 0.92, 0.83, 0.33, 0.96, 0.1 , 0.86,
       0.95, 0.89, 0.97, 0.97, 0.05, 0.93, 0.28, 0.82, 0.77, 0.98, 0.98,
       0.96, 0.93, 0.02, 0.36, 0.98, 0.23, 0.95, 0.9 , 0.96, 0.89, 0.06,
       0.93, 0.92, 0.92, 0.96, 0.15, 0.81, 0.97, 0.98, 0.3 , 0.97, 0.92,
       0.79, 0.2 , 0.94, 0.95, 0.33, 0.89, 0.91, 0.37, 0.22, 0.92, 0.92,
       0.09, 0.23, 0.3 , 0.98, 0.96, 0.92, 0.98, 0.28, 0.89, 0.99, 0.67,
       0.91, 0.95, 0.82, 0.85, 0.03, 0.3 , 0.86, 0.93, 0.84, 0.93, 0.3 ,
       0.96, 0.9 , 0.12, 0.9 , 0.86, 0.98, 0.98, 0.19, 0.97, 0.05, 0.98,
       0.07, 0.94, 0.88, 0.08, 0.08, 1.  , 0.95, 0.9 , 0.97, 0.91, 1.  ,
       0.93, 0.82, 0.93, 0.11, 0.85, 0.82, 0.11, 0.27, 0.08, 0.93, 0.24,
       0.92, 0.26, 0.43, 0.96, 0.08, 0.9 , 0.8 , 0.89, 0.99, 0.18, 0.96,
       0.29, 0.07, 0.24, 0.99, 0.96, 0.88, 0.11, 0.85, 0.42, 0.97, 0.92,
       0.84, 0.97, 0.3 , 0.14, 0.93, 0.95, 0.18, 0.93, 0.91, 0.89, 0.84,
       0.34, 0.82, 0.77, 0.93, 0.95, 0.92, 0.96, 0.98, 0.06])

In [25]:
test_data =pd.read_csv('../datasets/loan_test.txt')

In [28]:
scores=modelPipeline.predict_proba(test_data[X_cols])[:,-1]

In [31]:
scoreOutput={j:k for j,k in zip(test_data['Loan_ID'],scores)}

In [34]:
import joblib

In [35]:
joblib.dump(modelPipeline,'../models/modelPipeline.pkl')

['../models/modelPipeline.pkl']